.firstdiv, .seconddiv {
    background-color: white;
    margin: auto;
    text-align: center;
    width: 500px;
    box-shadow: 3px 5px 10px 1px;
    border-radius: 5px;
}

.firstdiv {
    min-height: 200px;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.seconddiv {
    min-height: 130px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    height: 35px;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
}

.first, .second {
    outline: none;
    border: none;
    color: white;
}

.first {
    display: block;
    background-color: #92B2FD;
    margin: auto;
    margin-top: 20px;
}

.second {
    background-color: #F594B7;
    font-weight: bold;
    margin-top: 25px;
}

.heading-first {
    color: white;
}

.add {
    width: 300px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: green;
    text-transform: uppercase;
    margin: 0 auto;
}

.clear {
    width: 300px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #ffe100;
    text-transform: uppercase;
    margin: 0 auto;
}

.removed {
    width: 300px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: red;
    text-transform: uppercase;
    margin: 0 auto;
}

